<head>
<meta charset="UTF-8">
<style>
	.mantenimiento{
		background:yellow;
		width: 100%!important;
	}
	.cont{
		background:green;
		border-style: outset;

	}
	h2{
		color: rgb(255,255,0);
	}
	ul {
  background-image: url(IMAGENES/ul.jpg) ;
	background-size: cover;
 
  border: 1px solid #7C7C7C;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
	li{
  border-left: 1px solid #FFF;

  width: 100%;
  border-right: 1px solid #7C7C7C;
  color: #333;
  display: block;
  padding: .5em;
  text-decoration: none;
}
</style>
    <title></title>
    <script type="text/javascript" src='jquery-1.7.1.min.js'></script>
	<script>
	function cargar(p_input){
   window.open(p_input,target="contenido_inicio");

}

function respuesta2(arg){
	
	
		
	}	

	function cerrar(p_input,p_input2){
   		$.post("Procesos/trx_login.php",{accion:'logout'},respuesta2,'json');
   		alert('Sesión Finalizada');
   		window.open(p_input,target="menu");
   		window.open(p_input2,target="contenido_inicio");

   // window.self.close();

}


$(document).ready(function(){ 
			
                $("#mantenimiento").click(function (){
				$("#despliegue").toggle("transition-showDiv");	
                	});

                 $("#consultas").click(function (){
				$("#despliegueConsultas").toggle("transition-showDiv");	
                	});

                  $("#transacciones").click(function (){
				$("#despliegue_trans").toggle("transition-showDiv");	
                	});
					});
</script>

</head>
<body>
<div class="cont">
	<span  id="mantenimiento" class="puntero"><h2>Mantenimientos</h2></span>
	<div id="despliegue" style="display: none;" class="mantenimiento">

		<ul>
			<strong><!--<li type='square'>Ingresos</li>--></strong>
				<blockquote>
					
					
				</blockquote>
			
		</ul>
    </div>
    </div>


    <div class="cont">
	<span  id="transacciones" class="puntero"><h2>Transacciones</h2></span>
	<div id="despliegue_trans" style="display: none;" class="mantenimiento">

		<ul>
			
			
				<blockquote>	
					
				</blockquote>
			
		</ul>
    </div>
    </div>

    <div class="cont">
	<span  id="consultas" class="puntero"><h2>Consultas</h2></span>
	<div id="despliegueConsultas" style="display: none;" class="mantenimiento">

		<ul>
			
				<blockquote>
					<li type='circle'><a href="#" onclick="cargar
					('Presentacion/rep_rendimiento.html')";>Reporte de rendimiento</a></li>
					<li type='circle'><a href="#" onclick="cargar
					('Presentacion/rep_asignacion.html')";>Reporte de asignacion de vehiculo</a></li>
					</blockquote>
		</ul>
    </div>
    </div>
    <li type='circle'><img id="logout" align='rigth' src='IMAGENES/logout.jpg' width='100' height='100'onclick="cerrar
					('menu.html','')"/></li>




</body>
</html>